{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Novitatus Tecnologia",
    "description" : "API.",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "email" : "contato@novitatus.com"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.novitatus.com/"
  } ],
  "tags" : [ {
    "name" : "Conta",
    "description" : "Minha conta"
  }, {
    "name" : "Condomínio",
    "description" : "Serviços para o Condomínio"
  }, {
    "name" : "Unidade",
    "description" : "Serviços para unidades do Condomínio"
  }, {
    "name" : "Assembleia",
    "description" : "Serviços para assembleias virtuais do Condomínio"
  } ],
  "paths" : {
    "/minhaconta" : {
      "get" : {
        "tags" : [ "Conta" ],
        "summary" : "Obter dados da minha conta",
        "responses" : {
          "200" : {
            "description" : "Minha conta",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Conta"
                }
              }
            }
          }
        }
      }
    },
    "/minhaconta/interesses" : {
      "get" : {
        "tags" : [ "Conta" ],
        "summary" : "Lista interesses da conta",
        "parameters" : [ {
          "name" : "tipo",
          "in" : "query",
          "description" : "Tipo de interesse na unidade",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ADMINISTRADOR", "PROPRIETARIO", "PROPRIETARIO_OCUPANTE", "MORADOR", "PAI", "CONJUGE_MORADOR", "FILHO_MORADOR", "IMOBILIARIA", "INQUILINO", "DIARISTA", "SECRETARIA", "VISITANTE_AUTORIZADA", "PROCURADOR" ]
            }
          }
        }, {
          "name" : "responsavelFinanceiro",
          "in" : "query",
          "description" : "Responsavel financeiro da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "recebeCobrancas",
          "in" : "query",
          "description" : "Recebe cobrança da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Interesses da conta",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Interesse"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/" : {
      "get" : {
        "tags" : [ "Condomínio" ],
        "summary" : "Obter dados do condominio",
        "responses" : {
          "200" : {
            "description" : "Condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Empresa"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/contas" : {
      "get" : {
        "tags" : [ "Condomínio" ],
        "summary" : "Listar contas do condomínio",
        "parameters" : [ {
          "name" : "cpfCnpj",
          "in" : "query",
          "description" : "Cpf ou Cnpj da conta",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nome",
          "in" : "query",
          "description" : "Nome da conta",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Email da conta",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Contas do condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Conta"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/contas/{contaId}" : {
      "get" : {
        "tags" : [ "Condomínio" ],
        "summary" : "Obter conta do condomínio",
        "parameters" : [ {
          "name" : "contaId",
          "in" : "path",
          "description" : "Identifcador da conta",
          "required" : true,
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Conta do condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Conta"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/contas/{contaId}/interesses" : {
      "get" : {
        "tags" : [ "Condomínio" ],
        "summary" : "Lista interesses da conta",
        "parameters" : [ {
          "name" : "contaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da conta",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "tipo",
          "in" : "query",
          "description" : "Tipo de interesse na unidade",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "ADMINISTRADOR", "PROPRIETARIO", "PROPRIETARIO_OCUPANTE", "MORADOR", "PAI", "CONJUGE_MORADOR", "FILHO_MORADOR", "IMOBILIARIA", "INQUILINO", "DIARISTA", "SECRETARIA", "VISITANTE_AUTORIZADA", "PROCURADOR" ]
            }
          }
        }, {
          "name" : "responsavelFinanceiro",
          "in" : "query",
          "description" : "Responsavel financeiro da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "recebeCobrancas",
          "in" : "query",
          "description" : "Recebe cobrança da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Interesses da conta",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Interesse"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Listar assembleias do condomínio",
        "parameters" : [ {
          "name" : "situacao",
          "in" : "query",
          "description" : "Situação da assembleia",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "RASCUNHO", "INICIADA", "ENCERRADA", "CANCELADA" ]
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Assembleias do condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Assembleia"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Criar assembleia do condomínio",
        "requestBody" : {
          "description" : "Assembleia",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Assembleia"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assembleia"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias/{assembleiaId}" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Obter Assembleia do condomínio",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assembleia"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Atualizar assembleia do condomínio",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "Assembleia",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Assembleia"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Assembleia"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias/{assembleiaId}/votacoes" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Listar votações da assembleia",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Votações da assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Votacao"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias/{assembleiaId}/participantes" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Obter articipantes da assembleia",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Participantes da assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Participante"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Criar participante da assembleia",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Participantes da assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Participante"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias/{assembleiaId}/votacoes/{votacaoId}/votos" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Listar votos da votação",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "votacaoId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da votação",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Votos da votação",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Voto"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Criar participante da assembleia",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "votacaoId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da votação",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Participantes da assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Voto"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/assembleias/{assembleiaId}/comentarios" : {
      "get" : {
        "tags" : [ "Assembleia" ],
        "summary" : "Listar comentários da assembleia",
        "parameters" : [ {
          "name" : "assembleiaId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da assembleia",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Comentários da assembleia",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Comentario"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/unidades" : {
      "post" : {
        "tags" : [ "Unidade" ],
        "summary" : "Criar unidade do condomínio",
        "requestBody" : {
          "description" : "Unidade do condomínio",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Unidade"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Unidade",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Unidade"
                }
              }
            }
          }
        }
      },
      "get" : {
        "tags" : [ "Unidade" ],
        "summary" : "Listar unidades do condomínio",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Identificadores das unidades",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "number",
              "format" : "int64"
            }
          }
        }, {
          "name" : "tipo",
          "in" : "query",
          "description" : "Tipo da unidade",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ADMINISTRATIVO", "APARTAMENTO", "BOX", "CASA", "CLIENTE", "COBERTURA", "GARAGEM", "LOJA", "LOTE", "UNIDADE", "QUITINETE", "SALA", "SOBRELOJA" ]
          }
        }, {
          "name" : "nome",
          "in" : "query",
          "description" : "Nome da unidade",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bloco",
          "in" : "query",
          "description" : "Bloco da unidade",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rua",
          "in" : "query",
          "description" : "Rua da unidade",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quadra",
          "in" : "query",
          "description" : "Quadra da unidade",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Unidades do condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Unidade"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/condominio/unidades/{unidadeId}" : {
      "get" : {
        "tags" : [ "Unidade" ],
        "summary" : "Obter unidade do condomínio",
        "parameters" : [ {
          "name" : "unidadeId",
          "in" : "path",
          "description" : "Identifcador da unidade",
          "required" : true,
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Unidade do condomínio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Unidade"
                }
              }
            }
          }
        }
      }
    },
    "/condominio/unidades/{unidadeId}/interessados" : {
      "get" : {
        "tags" : [ "Unidade" ],
        "summary" : "Lista de interessados na unidade",
        "parameters" : [ {
          "name" : "unidadeId",
          "in" : "path",
          "required" : true,
          "description" : "Identificador da unidade",
          "schema" : {
            "type" : "number",
            "format" : "int64"
          }
        }, {
          "name" : "tipo",
          "in" : "query",
          "description" : "Tipo de interesse na unidade",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ADMINISTRADOR", "PROPRIETARIO", "PROPRIETARIO_OCUPANTE", "MORADOR", "PAI", "CONJUGE_MORADOR", "FILHO_MORADOR", "IMOBILIARIA", "INQUILINO", "DIARISTA", "SECRETARIA", "VISITANTE_AUTORIZADA" ]
          }
        }, {
          "name" : "responsavelFinanceiro",
          "in" : "query",
          "description" : "Responsavel financeiro da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "recebeCobrancas",
          "in" : "query",
          "description" : "Recebe cobrança da unidade",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "$ref" : "#/components/parameters/Page"
        }, {
          "$ref" : "#/components/parameters/Size"
        } ],
        "responses" : {
          "200" : {
            "description" : "Interessados na unidade",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf" : [ {
                    "$ref" : "#/components/schemas/PaginationResponse"
                  }, {
                    "type" : "object",
                    "properties" : {
                      "content" : {
                        "type" : "array",
                        "items" : {
                          "$ref" : "#/components/schemas/Interessado"
                        }
                      }
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "parameters" : {
      "Page" : {
        "name" : "page",
        "in" : "query",
        "description" : "Número da página",
        "required" : false,
        "schema" : {
          "type" : "number",
          "format" : "int32",
          "default" : 0
        }
      },
      "Size" : {
        "name" : "size",
        "in" : "query",
        "description" : "Tamanho da página",
        "required" : false,
        "schema" : {
          "type" : "number",
          "format" : "int32",
          "default" : 20
        }
      }
    },
    "schemas" : {
      "Empresa" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "razaoSocial" : {
            "type" : "string"
          },
          "cnpj" : {
            "type" : "string"
          },
          "inscricaoEstadual" : {
            "type" : "string"
          },
          "tipo" : {
            "type" : "string"
          },
          "administradoraId" : {
            "type" : "number",
            "format" : "int64"
          },
          "fotoId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Interesse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "enum" : [ "ADMINISTRADOR", "PROPRIETARIO", "PROPRIETARIO_OCUPANTE", "MORADOR", "PAI", "CONJUGE_MORADOR", "FILHO_MORADOR", "IMOBILIARIA", "INQUILINO", "DIARISTA", "SECRETARIA", "VISITANTE_AUTORIZADA" ]
          },
          "unidadeId" : {
            "type" : "number",
            "format" : "int64"
          },
          "responsavelFinanceiro" : {
            "type" : "boolean"
          },
          "recebeCobrancas" : {
            "type" : "boolean"
          }
        }
      },
      "Interessado" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "enum" : [ "ADMINISTRADOR", "PROPRIETARIO", "PROPRIETARIO_OCUPANTE", "MORADOR", "PAI", "CONJUGE_MORADOR", "FILHO_MORADOR", "IMOBILIARIA", "INQUILINO", "DIARISTA", "SECRETARIA", "VISITANTE_AUTORIZADA" ]
          },
          "contaId" : {
            "type" : "number",
            "format" : "int64"
          },
          "responsavelFinanceiro" : {
            "type" : "boolean"
          },
          "recebeCobrancas" : {
            "type" : "boolean"
          }
        }
      },
      "Conta" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "cpfCnpj" : {
            "type" : "string"
          },
          "documento" : {
            "type" : "string"
          },
          "dataNascimento" : {
            "type" : "string",
            "format" : "date"
          },
          "perfilId" : {
            "type" : "number",
            "format" : "int64"
          },
          "fotoId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "assinaturaId" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "Assembleia" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "situacao" : {
            "type" : "string",
            "enum" : [ "RASCUNHO", "INICIADA", "ENCERRADA", "CANCELADA" ]
          },
          "titulo" : {
            "type" : "string"
          },
          "pauta" : {
            "type" : "string"
          },
          "ata" : {
            "type" : "string"
          },
          "dataHoraInicio" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dataHoraEncerramento" : {
            "type" : "string",
            "format" : "date-time"
          },
          "votoOculto" : {
            "type" : "boolean"
          },
          "votoInadimplente" : {
            "type" : "boolean"
          },
          "votoPorFracao" : {
            "type" : "boolean"
          },
          "presidenteRedatorId" : {
            "type" : "number",
            "format" : "int64"
          }
        }
      },
      "Comentario" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "contaEmpresaId" : {
            "type" : "number",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string"
          },
          "dataHora" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Votacao" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "descricao" : {
            "type" : "string"
          },
          "detalhamento" : {
            "type" : "string"
          }
        }
      },
      "Voto" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "participanteId" : {
            "type" : "number",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "enum" : [ "INDIFERENTE", "A_FAVOR", "CONTRA" ]
          },
          "dataVoto" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Participante" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "interessadoId" : {
            "type" : "number",
            "format" : "int64"
          },
          "dataAssinatura" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Anexo" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "number",
            "format" : "int64"
          },
          "nome" : {
            "type" : "string"
          },
          "descricao" : {
            "type" : "string"
          },
          "tipo" : {
            "type" : "string"
          },
          "extensao" : {
            "type" : "string"
          },
          "tamanho" : {
            "type" : "number",
            "format" : "int64"
          },
          "data" : {
            "type" : "string",
            "format" : "date"
          },
          "url" : {
            "type" : "string"
          }
        }
      },
      "Unidade" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "tipo" : {
            "type" : "string",
            "enum" : [ "ADMINISTRATIVO", "APARTAMENTO", "BOX", "CASA", "CLIENTE", "COBERTURA", "GARAGEM", "LOJA", "LOTE", "UNIDADE", "QUITINETE", "SALA", "SOBRELOJA" ]
          },
          "nome" : {
            "type" : "string"
          },
          "rua" : {
            "type" : "string"
          },
          "bloco" : {
            "type" : "string"
          },
          "quadra" : {
            "type" : "string"
          },
          "observacoes" : {
            "type" : "string"
          },
          "fracaoIdeal" : {
            "type" : "number",
            "format" : "float64"
          },
          "unidadeCobrancaId" : {
            "type" : "number",
            "format" : "int64"
          },
          "itemPlanoContaId" : {
            "type" : "number",
            "format" : "int64"
          }
        }
      },
      "PaginationResponse" : {
        "type" : "object",
        "properties" : {
          "totalElements" : {
            "type" : "number",
            "format" : "int32"
          },
          "totalPages" : {
            "type" : "number",
            "format" : "int32"
          },
          "pageSize" : {
            "type" : "number",
            "format" : "int32"
          },
          "pageNumber" : {
            "type" : "number",
            "format" : "int32"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  } ]
}